<div class="group-info-container">
  <h1>All Groups</h1>
  <% if flash[:alert].present? %>
    <p class="alert"><%= flash[:alert] %></p>
  <% end %>
  <% if @groups.any? %>
    <table class="payments-table">
      <thead>
        <tr>
          <th class="thead">Name</th>
        </tr>
      </thead>
      <tbody>
        <% @groups.each do |group| %>
          <tr>
            <td><%= group.name %></td>
            <td><%= button_to "Join Group", join_group_path(group), method: :post, class: "btn btn-success" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div><%= link_to "Back", root_path, class: "btn btn-dark" %></div>
  <% else %>
    <p>No Groups found.</p>
  <% end %>
</div>

