/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
    font-variation-settings:"slnt" 0;
    color: white;
 }

 body{
    /* background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%); */
    background-image: url("/assets/bg3.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
 }

 .nav-link-active, .current-user-email{
    color: white;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    font-weight: 300;
    font-size: 1.25rem;
    transition: 300ms;
  }

  .nav-link-active:hover, .current-user-email:hover{
    color:#EB158F;
  }

  .instructions{
   background-color: rgba(40, 40, 38, 0.4);
   backdrop-filter: blur(10px);
   box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.75);
   width: fit-content;
   padding: 15px;
   display: flex;
   flex-direction: column;
   align-items: left;
   justify-content: center;
   gap: 10px;
   border-radius: 20px;
   position: relative;
   left: 25%;
   top: 20VH;
  }

  .heading{
   color: #D1248F;
   margin-left: 130px;
  }

  .link{
   color: white;
   text-decoration: none;
   background-color: #282826;
   font-size: 1.5rem;
   padding: 20px;
   border-radius: 25px;
   transition: 200ms;
  }

  .link:hover{
   border: 2px solid white;
   background-color: rgba(40, 40, 38, 0.5);
   box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.75);
   size: 20px;
  }

  .links{
    background-color: rgba(40, 40, 38, 0.4);
    backdrop-filter: blur(10px);
    box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.75);
    height: 60vh;
    width: 20vw;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 10vh;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 10vh;
    left: 35%;
  }

.payment_field{
   color: black;
   width: 300px;
   border: none;
   height: 40px;
   border-radius: 15px;
}

select{
  height: 40px; 
  border-radius: 15px;
}

field select,option{
  color: black;
}

.alert.alert-danger {
   background-color: #282826;
   color: white;
   border: 3px solid white;
   padding: 10px;
   margin-bottom: 15px;
   border-radius: 20px;
 }

 .pay_container{
   /* background-color: #282826; */
   background-color: rgba(40, 40, 38, 0.4);
   backdrop-filter: blur(10px);
   width: fit-content;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 20px;
   border-radius: 25px;
   position: relative;
   left: 35%;
   top: 15vh;
   box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.75);
 }

 .pay_container .field {
   margin-bottom: 20px;
   width: 300px;
 }

 #payment_category_id{
   margin-bottom: 20px;
   width: 300px;
   color: black;
 }

 .payments-container{
   /* background-color: rgba(40, 40, 38, 0.4); */
   background-color: rgba(40, 40, 38, 0.4);
   backdrop-filter: blur(10px);
   box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.75);
   width: fit-content;
   padding: 20px;
   border-radius: 25px;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;
   position: relative;
   left: 15%;
   top: 20vh;
   box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.75);
 }

 .categories-container{
  /* background-color: rgba(40, 40, 38, 0.4); */
  background-color: rgba(40, 40, 38, 0.4);
  backdrop-filter: blur(10px);
  box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.75);
  width: fit-content;
  padding: 20px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
  left: 20vw;
  top: 25vh;
  box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.75);
}

 .payments-table td {
   padding-left: 50px;
  }

  .create_container{
    display: flex;
    flex-direction: column;
    background-color: rgba(40, 40, 38, 0.4);
    box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.75);
    border-radius: 25px;
    backdrop-filter: blur(10px);
    width: fit-content;
    padding: 30px;
    align-items: center;
    position: relative;
    top: 20vh;
    left: 15vw;
  }

  .login_container{
    display: flex;
    flex-direction: column;
    background-color: rgba(40, 40, 38, 0.4);
    box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.75);
    border-radius: 25px;
    backdrop-filter: blur(10px);
    width: fit-content;
    padding: 30px;
    align-items: center;
    position: relative;
    top: 20vh;
    left: 25vw;
  }

  #user_email{
    width: 30vw;
  }


  .thead{
   padding-left: 50px;
  }
 