/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
    font-variation-settings:"slnt" 0;
    color: white;
 }

 body{
    background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%); 
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
 }

 .nav-link-active, .current-user-email{
    color: white;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    font-weight: 300;
    font-size: 1.25rem;
    transition: 300ms;
  }

  .nav-link-active:hover, .current-user-email:hover{
    color:#c43a30
  }

  .instructions{
   background-color: #282826;
   width: fit-content;
   padding: 15px;
   display: flex;
   flex-direction: column;
   align-items: left;
   justify-content: center;
   gap: 10px;
   border-radius: 20px;
   position: relative;
   left: 25%;
   top: 80px;
   box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.75);
  }

  .heading{
   color: #BF3B37;
   margin-left: 130px;
  }

  .link{
   color: white;
   text-decoration: none;
   background-color: #282826;
   font-size: 1.5rem;
   padding: 20px;
   border-radius: 25px;
   transition: 200ms;
  }

  .link:hover{
   border: 2px solid white;
   background-color: rgba(40, 40, 38, 0.5);
   box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.75);
   size: 20px;
  }

  .links{
   display: flex;
   flex-direction: column;
   gap: 10vh;
   align-items: center;
   justify-content: center;
  }

.payment_field{
   color: black;
   width: 300px;
}

.alert.alert-danger {
   background-color: #282826;
   color: white;
   border: 3px solid white;
   padding: 10px;
   margin-bottom: 15px;
   border-radius: 20px;
 }

 .pay_container{
   background-color: #282826;
   width: fit-content;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 20px;
   border-radius: 25px;
   position: relative;
   left: 35%;
   top: 15vh;
   box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.75);
 }

 .pay_container .field {
   margin-bottom: 20px;
   width: 300px;
 }

 #payment_category_id{
   margin-bottom: 20px;
   width: 300px;
   color: black;
 }

 .payments-container{
   background-color: #282826;
   width: fit-content;
   padding: 20px;
   border-radius: 25px;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;
   position: relative;
   left: 25%;
   top: 20vh;
   box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.75);
 }

 .payments-table td {
   padding-left: 50px;
  }


  .thead{
   padding-left: 50px;
  }
 